# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
src/Visual Studio 2015/Backup Files/librealsense2/~AutoRecover.er-pcl.cpp
src/Visual Studio 2015/Backup Files/librealsense2/~AutoRecover.er-pcl.cpp16
